<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="angular.min.js"></script>
	<script>
		var app = angular.module('myApp',[]);
		app.controller('myCtrl',function($scope){
			$scope.name = 'John Doe';
		});
	</script>
</head>
<body>
	<!-- <div ng-app="">
		{{5 + 5}}
	</div> -->
	<!-- <div ng-app="" ng-init="firstName='John'">
 	<p>在输入框中尝试输入：</p>
 	<p>姓名：<input type="text" ng-model="firstName"></p>
 	<p>你输入的为： {{ firstName }}</p> -->	
	<!-- </div> -->
	<div ng-app="myApp" ng-controller="myCtrl">
  		  名字: <input ng-model="name">
   		 <h1>你输入了: {{name}}</h1>
	</div>
</body>
</html>